<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.Api.listener.TestEventListenersUtility"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class  name="com.Api.Tests.TestCases">
      <methods>
		  <include name="deleteRepoWithNonExixtingName"/>
          <include name="deleteRepo"/>
          
          <include name="updateRepo"/>
          <include name="createARepoWithExixtingName"/>
          <include name="createARepo"/>
          <include name="getAllRepo"/>
          <include name="getASingleRepoWithNonExistingName"/>
          <include name="getASingleRepo"/>
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
